body {
    background-color: hsl(225, 100%, 94%);
    background-image: url("images/pattern-background-desktop-crop.svg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: hsl(224, 23%, 55%);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

p, .btn {
    font-size: smaller;
}

.link-change {
    color: hsl(245, 75%, 52%);
    font-size: 0.75em;
}

.link-change:active, .link-change:hover{
    color: #766CF1;
}

.order-box {
    width: 50%;
    margin: 0 auto;
    border: 0px solid white;
    border-radius: 15px;
    text-align: center;
}

h5, .plan-detail-title {
    color: hsl(223, 47%, 23%)
}

.btn {
    width: 85%;
    border-radius: 5px;
}

.btn:focus{
    box-shadow: none;
}

.payment {
    background-color: hsl(245, 75%, 52%);
    color: white;
    box-shadow: 0px 15px 15px -15px hsl(245, 75%, 52%);
}

.payment:hover, .payment:active{
    color: white;
    background-color: #766CF1;
    box-shadow: 0px 15px 15px -15px #766CF1;
}

.cancel {
    color: hsl(224, 23%, 55%);
}

.icon-music {
    width: 12%;
}

.plan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.plan-detail {
    padding: 0 4em 0 1em;
    text-align: start;
}

.attribution {
    width: fit-content;
    font-size: 0.8em;
}

@media (min-width: 376px) and (max-width: 640px){
    .plan {
        display: block;
    }
    .plan-detail {
        padding: 0;
        text-align: center;
    }
    .icon-music {
        width: 25%;
        margin-bottom: 1em;
    }
}

@media (max-width: 376px) {
    .order-box {
        width: 90%;
    }
}